@page
@model SRAUMOAR.Pages.generales.ciclos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ciclo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciclo.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciclo.Activo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciclo.NCiclo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciclo.NCiclo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciclo.anio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciclo.anio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciclo.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciclo.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciclo.FechaFin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciclo.FechaFin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciclo.CorrelativoCarnet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciclo.CorrelativoCarnet)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ciclo.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
