@page
@model SRAUMOAR.Pages.generales.ciclos.IndexModel

@{
    ViewData["Title"] = "Administracion de ciclos";
}

<h1>Administración de ciclos lectivos</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        Registrar uno nuevo <i class="nav-icon bi bi-plus"></i>
    </a>
</p>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ciclo[0].Activo)</th>
            <th>@Html.DisplayNameFor(model => model.Ciclo[0].anio)</th>
            <th>@Html.DisplayNameFor(model => model.Ciclo[0].NCiclo)</th>
            <th>@Html.DisplayNameFor(model => model.Ciclo[0].FechaInicio)</th>
            <th>@Html.DisplayNameFor(model => model.Ciclo[0].FechaFin)</th>
            <th>Días</th>
            <th>@Html.DisplayNameFor(model => model.Ciclo[0].CorrelativoCarnet)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ciclo)
        {
            <tr>
                <td>
                    @if (item.Activo)
                    {
                        <span class="badge bg-success">
                            Activo
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-danger">
                            Inactivo
                        </span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.anio)</td>
                <td>@Html.DisplayFor(modelItem => item.NCiclo)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                <td>
                    @{
                        var diasTotales = (item.FechaFin - item.FechaInicio).Days;
                    }
                    @diasTotales días
                </td>
                <td>@Html.DisplayFor(modelItem => item.CorrelativoCarnet)</td>
                <td>
                    @if (item.Activo)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm me-2">
                            Finalizar <i class="bi bi-arrow-right-circle-fill"></i>
                        </a>
                        <a asp-page="./Editar" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                            Modificar <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a asp-page="/aranceles/Index" class="btn btn-info btn-sm">
                            Aranceles <i class="bi bi-coin"></i>
                        </a>
                    }
                    else
                    {
                        <span class="badge bg-secondary">
                            Ciclo finalizado <i class="bi bi-clock-fill"></i>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

