@page "/autenticacion/desactivarusuario/{UsuarioId:int}"

@model SRAUMOAR.Pages.Autenticacion.DesactivarUsuarioModel

@{
    ViewData["Title"] = "Administrar usuario";
}

<h1 class="text-center">Administracion de usuario</h1>

<h4 class="text-center text-secondary mb-4">Alumno: @Model.nombre</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" name="UsuarioId" value="@ViewData["usuarioid"]" />
            <input type="hidden" name="Tipo" value="@ViewData["tipo"]" />
            <div class="mb-3">
                <label asp-for="Usuario.NombreUsuario" class="form-label">Nombre de usuario</label>
                <input asp-for="Usuario.NombreUsuario" class="form-control" readonly value="@Model.email" />
                <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Usuario.Clave" class="form-label">Clave</label>
                <input asp-for="Usuario.Clave" type="password" class="form-control" minlength="6" />
                <span asp-validation-for="Usuario.Clave" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Usuario.Email" class="form-label">Email</label>
                <input asp-for="Usuario.Email" type="email" class="form-control" readonly value="@Model.email" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <input type="submit" value="Actualizar clave" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <br />
            <a asp-page="/Alumno/Index" class="btn btn-danger text-center">Cancelar</a>

        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
