@page
@model SRAUMOAR.Pages.grupos.EditModel

@{
    ViewData["Title"] = "Edición de grupo";
}

<h1 class=" text-primary fw-bold mb-4 display-5">Edición de grupo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <form method="post" class="p-4 border rounded-3 shadow-sm bg-light">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Grupo.GrupoId" />
            <div class="row">
                <div class="form-group mb-3 col-4">
                    <label asp-for="Grupo.Nombre" class="form-label"></label>
                    <input asp-for="Grupo.Nombre" class="form-control" />
                    <span asp-validation-for="Grupo.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group mb-3 col-4">
                    <label asp-for="Grupo.Limite" class="form-label"></label>
                    <input asp-for="Grupo.Limite" class="form-control" />
                    <span asp-validation-for="Grupo.Limite" class="text-danger"></span>
                </div>

                <div class="form-group form-check mb-3 col-4 d-flex align-items-center">
                    <input class="form-check-input mt-1" asp-for="Grupo.Activo" />
                    <label class="form-check-label ms-2" asp-for="Grupo.Activo">Activo</label>
                </div>

            </div>
            <div class="form-group mb-3">
                <label asp-for="Grupo.CarreraId" class="form-label"></label>
                <select id="carreraSelect" asp-for="Grupo.CarreraId" class="form-select" asp-items="ViewBag.CarreraId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Grupo.CicloId" class="form-label"></label>
                <select asp-for="Grupo.CicloId" class="form-select" asp-items="ViewBag.CicloId"></select>
            </div>
            @{
                bool isDocente = User.IsInRole("Docentes");
            }

            <div class="form-group mb-3">
                <label asp-for="Grupo.DocenteId" class="form-label"></label>
                
                @if (isDocente)
                {
                    <select asp-for="Grupo.DocenteId" class="form-select" asp-items="ViewBag.DocenteId" disabled="disabled"></select>
                    <input type="hidden" asp-for="Grupo.DocenteId" value="@Model.Grupo.DocenteId" />
                }
                else
                {
                    <select asp-for="Grupo.DocenteId" class="form-select" asp-items="ViewBag.DocenteId"></select>
                }

                

            </div>

            <div class="form-group text-center">
                <input type="submit" value="Actualizar grupo" class="btn btn-success btn-lg me-2" />
                <a asp-page="Index" class="btn btn-outline-secondary btn-lg">Volver</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form method="post" id="formMaterias" class="p-4 border rounded-3 shadow-sm bg-light">
            @* <input type="hidden" asp-for="MateriasGrupo.MateriasGrupoId" /> *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="formulario2" value="0" />
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="MateriasGrupo.Aula" class="form-label"></label>
                    <input asp-for="MateriasGrupo.Aula" class="form-control" />
                    <span asp-validation-for="MateriasGrupo.Aula" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="MateriasGrupo.HoraInicio" class="form-label"></label>
                    <input asp-for="MateriasGrupo.HoraInicio" class="form-control" />
                    <span asp-validation-for="MateriasGrupo.HoraInicio" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="MateriasGrupo.HoraFin" class="form-label"></label>
                    <input asp-for="MateriasGrupo.HoraFin" class="form-control" />
                    <span asp-validation-for="MateriasGrupo.HoraFin" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MateriasGrupo.MateriaId" class="control-label"></label>
                <select asp-for="MateriasGrupo.MateriaId" class="form-control" asp-items="ViewBag.MateriaId"></select>
                
            </div>
            <div class="form-group">
                <label asp-for="MateriasGrupo.DocenteId" class="control-label"></label>
                <select asp-for="MateriasGrupo.DocenteId" class="form-control" asp-items="ViewBag.DocenteId"></select>

            </div>
            <input type="hidden" asp-for="MateriasGrupo.GrupoId" value="@Model.GrupoId" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary mt-2 shadow-sm">
                    <i class="bi bi-book"></i> Asignar Materia
                </button>
            </div>


        </form>
        <hr />
        <h6>Materias del Grupo</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ListadoMateriasGrupo[0].Materia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListadoMateriasGrupo[0].Aula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListadoMateriasGrupo[0].Docente)
                    </th>
                    <th>
                        Horario
                    </th>
                    <th>Inscritos</th>
                   
                   @*  <th>
                        @Html.DisplayNameFor(model => model.ListadoMateriasGrupo[0].Grupo)
                    </th> *@
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListadoMateriasGrupo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Materia.NombreMateria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Docente.Nombres) @Html.DisplayFor(modelItem => item.Docente.Apellidos)
                        </td>
                        <td>
                            @item.FormatearHora12Horas(item.HoraInicio) - @item.FormatearHora12Horas(item.HoraFin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalInscritos)
                        </td>
                        
                       @*  <td>
                            @Html.DisplayFor(modelItem => item.Grupo.GrupoId)
                        </td> *@
                        <td>
                            <a asp-page="./EliminarMateriaDeGrupo" data-inscritos="@item.TotalInscritos" asp-route-id="@item.MateriasGrupoId" class="btn btn-danger delete-btn" data-id="@item.MateriasGrupoId"><i class="bi bi-trash"></i></a>

                           @*  <a href="javascript:void(0);" data-id="@item.MateriasGrupoId" class="btn btn-danger delete-link">
                                <i class="bi bi-trash"></i>
                            </a> *@
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  @*   <script>

        $(document).ready(function(){
            $('.delete-link').click(function(){
                var id = $(this).data('id');
                var url = '@Url.Page("./EliminarMateriaDeGrupo")' + "?id=" + id;

                if(confirm("¿Deseas eliminar este registro?")) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function(result){
                            if(result.success) {
                                alert("Registro eliminado exitosamente.");
                                location.reload(); // Recarga la página para reflejar los cambios
                            } else {
                                alert("Hubo un error al eliminar el registro.");
                            }
                        },
                        error: function(err){
                            alert("Hubo un error en la solicitud.");
                        }
                    });
                }
            });
        });
   </script> *@

    <script>
        $(document).ready(function() {
            $('.delete-btn').on('click', function(e) {
                e.preventDefault(); // Evitar la navegación predeterminada

                var id = $(this).data('id');
                     var alumnosInscritos = $(this).data('inscritos');;

        // Verificar número de alumnos antes de intentar eliminar
        if (parseInt(alumnosInscritos) > 0) {
          alert(`No se puede eliminar. Hay ${alumnosInscritos} alumnos inscritos.`);
            return;
        }
                // Mostrar confirmación
                if (confirm('¿Estás seguro de eliminar este registro?')) {
                    $.ajax({
                        url: '@Url.Page("./EliminarMateriaDeGrupo")', // URL de la página Delete
                        type: 'POST',
                        data: {
                            id: id,
                            // Añadir token de verificación de antifalsificación si es necesario
                            __RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function(result) {
                            if (result.success) {
                                // Eliminar la fila de la tabla
                                $(`[data-id="${id}"]`).closest('tr').remove();

                                // Mostrar mensaje de éxito
                                alert('Registro eliminado con éxito');
                                window.location.reload();
                            } else {
                                // Mostrar mensaje de error
                                alert(result.message || 'Error al eliminar el registro');
                            }
                        },
                        error: function() {
                            alert('Ocurrió un error al intentar eliminar el registro');
                        }
                    });
                }
            });
        });
    </script>

}
