@page
@model SRAUMOAR.Pages.generales.distrito.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Distrito[0].NombreDistrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito[0].Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Distrito) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDistrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DistritoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DistritoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DistritoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
