@page
@model SRAUMOAR.Pages.generales.codigoActividadEconomica.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<!DOCTYPE html>
<html lang="es">
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Detalles del C贸digo de Actividad Econ贸mica</h1>
    </header>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="fs-4 fw-semibold text-white formal-text">C贸digo de Actividad Econ贸mica</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-3 text-left fw-semibold fs-5">
                        <i class="bi bi-hash"></i> @Html.DisplayNameFor(model => model.CodigoActividadEconomica.Codigo)
                    </dt>
                    <dd class="col-sm-9 text-left fs-5">
                        @Html.DisplayFor(model => model.CodigoActividadEconomica.Codigo)
                    </dd>
                    <dt class="col-sm-3 text-left fw-semibold fs-5">
                        <i class="bi bi-text-paragraph"></i> @Html.DisplayNameFor(model => model.CodigoActividadEconomica.Descripcion)
                    </dt>
                    <dd class="col-sm-9 text-left fs-5">
                        @Html.DisplayFor(model => model.CodigoActividadEconomica.Descripcion)
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-end">
                <a asp-page="./Edit" asp-route-id="@Model.CodigoActividadEconomica.Id" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a asp-page="./Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</body>
</html>
