@page
@model SRAUMOAR.Pages.generales.profesiones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profesion[0].NombreProfesion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profesion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProfesion)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.ProfesionId">
                                Editar <i class="bi bi-pencil-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.ProfesionId">
                                Detalles <i class="bi bi-info-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.ProfesionId">
                                Eliminar <i class="bi bi-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
