@page
@model SRAUMOAR.Pages.generales.docentes.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<!DOCTYPE html>
<html lang="es">
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Detalles del Alumno</h1>
    </header>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="fs-4 fw-semibold text-white formal-text">Alumnos</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-person-circle me-2">
                        @Html.DisplayNameFor(model => model.Docente.Nombres)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.Nombres)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-person-lines-fill me-2">
                        @Html.DisplayNameFor(model => model.Docente.Apellidos)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.Apellidos)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi-card-text">
                        @Html.DisplayNameFor(model => model.Docente.Dui)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.Dui)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-calendar3 me-2">
                        @Html.DisplayNameFor(model => model.Docente.FechaDeNacimiento)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.FechaDeNacimiento)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-calendar3 me-2">
                        @Html.DisplayNameFor(model => model.Docente.FechaDeIngreso)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.FechaDeIngreso)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-house-fill me-2">
                        @Html.DisplayNameFor(model => model.Docente.Direccion)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.Direccion)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-envelope me-2">
                        @Html.DisplayNameFor(model => model.Docente.Email)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.Email)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-briefcase">
                        @Html.DisplayNameFor(model => model.Docente.Profesion)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Docente.Profesion.NombreProfesion)   @*REVISAR*@
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-end">
                <a asp-page="./Edit" asp-route-id="@Model.Docente.DocenteId" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a asp-page="./Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</body>
</html>

