@page
@model SRAUMOAR.Pages.generales.pensum.IndexModel

@{
    ViewData["Title"] = "Administracion de pensums";
}

<h1>Administracion de pensums</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Registrar nuevo pensum <i class="bi bi-plus-circle-fill"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pensum[0].NombrePensum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensum[0].CodigoPensum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensum[0].Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensum[0].Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pensum[0].Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pensum) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePensum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPensum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.CodigoCarrera)
            </td>
            <td>
                    <a asp-page="/generales/materias/materias" asp-route-id="@item.CarreraId" class="btn btn-primary">Ver materias <i class="bi bi-journal"></i></a> |
                    <a asp-page="./Edit" asp-route-id="@item.PensumId" class="btn btn-success">Editar <i class="bi bi-pencil-fill"></i></a> |
                    <a href="~/descargas/pensum/pensumpdf.pdf" target="_blank" class="btn btn-info">PDF <i class="bi bi-filetype-pdf"></i></a>
                    <!-- 
                     |
                <a asp-page="./Details" asp-route-id="@item.PensumId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PensumId">Delete</a>
                 -->
            </td>
        </tr>
}
    </tbody>
</table>
