@page
@model SRAUMOAR.Pages.alumno.BusquedaModel

@{
    ViewData["Title"] = "Busqueda de alumno";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="bg-success text-white text-center py-3 mb-4 shadow-lg">
        <h1 class="display-4 fw-bold">Búsqueda de alumnos</h1>
    </header>


     @if ( !User.IsInRole("Administracion")){
                        


    <div class="container-fluid mt-4">
        <a asp-page="./Index" class="btn btn-primary btn-custom">
            <i class="bi bi-arrow-left-circle btn-icon"></i>

            Volver
        </a>
    </div>

     }

    <div class="container-fluid mt-4">
        <div class="card shadow-sm">
            <div class="card-body">

                <form method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar por nombre o apellido" name="buscar" value="@Model.busqueda" />
                        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                    </div>
                </form>

                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Alumno[0].Nombres)</th>
                            <th>@Html.DisplayNameFor(model => model.Alumno[0].Apellidos)</th>
                            <th>@Html.DisplayNameFor(model => model.Alumno[0].FechaDeNacimiento)</th>
                            <th>@Html.DisplayNameFor(model => model.Alumno[0].Email)</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Alumno)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                                <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaDeNacimiento)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td class="text-center">
                                    @if(User.IsInRole("Administracion"))
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" asp-page="/aranceles/Cobrar" asp-route-id="@item.AlumnoId">Aranceles <i class="bi bi-dollar"></i></a></li>
                                                <li><a class="dropdown-item" asp-page="/inscripcion/Create" asp-route-id="@item.AlumnoId">Inscribir al ciclo <i class="bi bi-arrow-right-circle"></i></a></li>
                                                <li><a class="dropdown-item" asp-page="/inscripcion/MateriasInscritas" asp-route-id="@item.AlumnoId">Inscribir materias <i class="bi bi-arrow-right-circle"></i></a></li>
                                                
                                            </ul>
                                        </div>
                                    }else{
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Acciones
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-page="./Create">Nuevo <i class="bi bi-plus-circle"></i></a></li>
                                            <li><a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.AlumnoId">Editar <i class="bi bi-pencil-square"></i></a></li>
                                            <li><a class="dropdown-item" asp-page="./Details" asp-route-id="@item.AlumnoId">Detalles <i class="bi bi-info-circle"></i></a></li>
                                            <!-- <li><a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.AlumnoId">Eliminar <i class="bi bi-trash"></i></a></li>//-->
                                        </ul>
                                    </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
