@page
@model SRAUMOAR.Pages.alumno.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<!DOCTYPE html>
<html lang="es">
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Detalles del Alumno</h1>
    </header>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="fs-4 fw-semibold text-white formal-text">Alumnos</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-person-circle me-2">
                        @Html.DisplayNameFor(model => model.Alumno.Nombres)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.Nombres)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-person-lines-fill me-2">
                        @Html.DisplayNameFor(model => model.Alumno.Apellidos)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.Apellidos)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-calendar3 me-2">
                        @Html.DisplayNameFor(model => model.Alumno.FechaDeNacimiento)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.FechaDeNacimiento)
                    </dd>
                </dl>
            </div>
                <div class="card-body">
                    <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-envelope me-2">
                            @Html.DisplayNameFor(model => model.Alumno.Email)
                        </dt>
                        <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                            @Html.DisplayFor(model => model.Alumno.Email)
                        </dd>
                    </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-telephone me-2">
                        @Html.DisplayNameFor(model => model.Alumno.TelefonoPrimario)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.TelefonoPrimario)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-whatsapp me-2">
                        @Html.DisplayNameFor(model => model.Alumno.Whatsapp)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.Whatsapp)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-phone">
                        @Html.DisplayNameFor(model => model.Alumno.TelefonoSecundario)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.TelefonoSecundario)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-person-lines-fill me-2">
                        @Html.DisplayNameFor(model => model.Alumno.ContactoDeEmergencia)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Alumno.ContactoDeEmergencia)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-telephone-fill me-2">
                        @Html.DisplayNameFor(model => model.Alumno.NumeroDeEmergencia)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                      @Html.DisplayFor(model => model.Alumno.NumeroDeEmergencia)
                    </dd>
                </dl>
            </div>
             <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-house-fill me-2">
                        @Html.DisplayNameFor(model => model.Alumno.DireccionDeResidencia)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                      @Html.DisplayFor(model => model.Alumno.DireccionDeResidencia)
                    </dd>
                </dl>
             </div>
            <div class="card-footer text-end">
                <a asp-page="./Edit" asp-route-id="@Model.Alumno.AlumnoId" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a asp-page="./Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</body>
</html>

