@page
@model SRAUMOAR.Pages.generales.materias.IndexModel

@{
    ViewData["Title"] = "Materias";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="bg-primary text-white text-center py-3 mb-4">
        <h1>Selección de Carreras</h1>
    </header>
    <br>
    <div class="container-fluid mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Carrera[0].NombreCarrera)</th>
                            <th>@Html.DisplayNameFor(model => model.Carrera[0].CodigoCarrera)</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Carrera)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.NombreCarrera)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoCarrera)</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Acciones
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-page="/generales/pensum/Index" asp-route-id="@item.CarreraId">Planes de estudio<i class="bi bi-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
