@page
@model SRAUMOAR.Pages.generales.materias.MateriasModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].NombreMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].CodigoMateria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia[0].Pensum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Materia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pensum.CodigoPensum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MateriaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MateriaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MateriaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
