    @page
    @model SRAUMOAR.Pages.generales.municipio.DetailsModel

    @{
        ViewData["Title"] = "Detalles";
    }
<!DOCTYPE html>
<html lang="es">
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Detalles del Municipio</h1>
    </header>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-dark text-white text-center">
                <h4 class="fs-4 fw-semibold text-white formal-text">Municipio</h4>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-building">
                        @Html.DisplayNameFor(model => model.Municipio.NombreMunicipio)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Municipio.NombreMunicipio)
                    </dd>
                </dl>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-map-fill">
                        @Html.DisplayNameFor(model => model.Municipio.Distrito)
                    </dt>
                    <dd class="col-sm-4 text-left fw-semibold fs-5 fw-semibold bi bi-info-circle">
                        @Html.DisplayFor(model => model.Municipio.Distrito.NombreDistrito)   @*REVISAR*@
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-end">
                <a asp-page="./Edit" asp-route-id="@Model.Municipio.MunicipioId" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a asp-page="./Index" class="btn btn-secondary ms-2">
                    <i class="bi bi-arrow-left"></i> Volver a la lista
                </a>
            </div>
        </div>
    </div>
</body>
</html>