@page
@model SRAUMOAR.Pages.materiasGrupo.IndexModel

@{
    ViewData["Title"] = "Materias asignadas";
}

<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h1 class="h3 mb-0">Mis materias asignadas</h1>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mb-0">
                            <thead class="table-dark">
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.MateriasGrupo[0].Materia)</th>
                                    <th>@Html.DisplayNameFor(model => model.MateriasGrupo[0].Aula)</th>
                                    <th>Horario</th>
                                    <th>@Html.DisplayNameFor(model => model.MateriasGrupo[0].Grupo)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.MateriasGrupo)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Materia.NombreMateria)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Aula)</td>
                                        <td>@item.FormatearHora12Horas(item.HoraInicio) - @item.FormatearHora12Horas(item.HoraFin)</td>
                                   
                                        <td>@Html.DisplayFor(modelItem => item.Grupo.Nombre)</td>
                                        <td>
                                            
                                                <a asp-page="./Details" asp-route-id="@item.GrupoId" class="btn btn-success">Ver grupo</a>
                                            

                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

