@page
@model SRAUMOAR.Pages.generales.facultad.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facultad[0].NombreFacultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultad[0].Activa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Facultad) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFacultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FacultadId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FacultadId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FacultadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
